.list-item {
    list-style-type: none;
}

@font-face {
    font-family: 'sarabun';
    src: url('font/Sarabun.ttf') format('truetype');
}

* {
    margin: 0px;
    font-family: 'sarabun', Sarabun;
}

.ps-0 {
    padding-left: 0px;
}

.p-2 {
    padding: 20px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #c25ba8;

}

.text-dark {
    color: black;
}

.nav {
    /* display: flex; */
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    /* ใส่สีพื้นหลังให้ไม่โปร่ง */
    z-index: 999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* ใส่เงานิดนึงสวยๆ */
}

.center {
    align-content: center;
}

.d-flex {
    display: flex;
    


}

.g-2 {
    gap: 25px;
}

.row {
    display: flex;
}

.col-6 {
    width: 50%;
    padding: 50px;
    /* box-sizing: border-box;
    border: 1px solid #aaa; */
    padding-top: 10%;
    padding-bottom: 10%;
    align-content: center;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
    /* หรือเปลี่ยนตามขนาดหน้าจอ */
}

.center {
    justify-items: center;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.body {
    background-color: #a0c9fb;
    padding-top: 10%;
}

.upDown {
    animation: upDownAnim 1.5s ease-in-out infinite alternate;
}

@keyframes upDownAnim {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-20px);
    }
}

.mt-3 {
    margin-top: 3%;
}

.mt-2 {
    margin-top: 2%;
}

.d-flex {
    display: flex;
}

html {
    scroll-behavior: smooth;

}

.scroll-margin {
    scroll-margin-top: 90px;
}

.mb-3 {
    margin-bottom: 3%;
}

.ms-3 {
    margin-left: 3%;
}

.ma-3 {
    margin-right: 3%;
}

.mb-5 {
    margin-bottom: 5%;
}

/* .grid{
    display: grid;
    grid-template-columns: auto auto ;
   gap:20px;
} */
.img {
    width: 300px;
    margin-left: 30px;
    float: left;
    
}
img{
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}

.text-center {
    text-align: center;
}


/* อนิเมชั่น */
.fade-in {
    opacity: 1;
    animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(-20);
    }
}

.fade-up {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1.2s ease 0.3s, transform 1.2s ease 0.3s;
}

.fade-up.show {
    opacity: 1;
    transform: translateY(0);
}

/* delay ทีละอัน */
.delay-1 {
    transition-delay: 0s;
}

.delay-2 {
    transition-delay: 0.3s;
}

.delay-3 {
    transition-delay: 0.6s;
}

.delay-4 {
    transition-delay: 0.9s;
}
footer{
    padding: 30px;
    background-color: #a0c9fb;
}